{% block books_list %}
    <ul>
        {% for book in books %}
            <li>
                <h3>{{ book.title }}</h3>
                <p>By: {{ book.author }}</p>
                <p>{{ book.description|truncatewords:20 }}</p>
                <a href="{{ book.public_url }}">Read More</a>
            </li>
        {% empty %}
            <p>No books available.</p>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if books.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ books.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ books.number }} of {{ books.paginator.num_pages }}</span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">Next</a>
            <a href="?page={{ books.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endblock books_list %}
