<div class="modal fade modal-auth" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="container">
                <div class="screen">
                    <div class="screen__content">
                        <!-- Контейнер для сообщений об ошибках или успехе -->
                        <div id="form-messages"></div>
                        
                        <form 
                            class="sign-up" 
                            method="POST" 
                            action="{% url 'account_signup' %}"
                            hx-post="{% url 'account_signup' %}"
                            hx-target="#form-messages"
                            hx-swap="innerHTML">
                            
                            {% csrf_token %}
                            <div class="sign-up__field">
                                <i class="sign-up__icon fas fa-user"></i>
                                <input type="text" name="email" class="sign-up__input" placeholder="Email" required>
                            </div>
                            <div class="sign-up__field">
                                <i class="sign-up__icon fas fa-lock"></i>
                                <input type="password" name="password" class="sign-up__input" placeholder="Password" required>
                            </div>
                            <div class="sign-up__field">
                                <i class="sign-up__icon fas fa-lock"></i>
                                <input type="password" name="password2" class="sign-up__input" placeholder="Confirm Password" required>
                            </div>
                            <button class="button sign-up__submit" type="submit">
                                <span class="button__text">Sign Up</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>
                        </form>
                        
                        <div class="social-sign-up">
                            <h3>Sign Up via</h3>
                            <div class="social-icons">
                                <a href="#" class="social-sign-up__icon fab fa-google"></a>
                                <a href="#" class="social-sign-up__icon fab fa-apple"></a>
                                <a href="#" class="social-sign-up__icon fab fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                    <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
